
# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json

# Visual Studio Code
.vscode/

# Logs
*.log

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/

# DotCover
*.dcvr

# Backup files
*.bak
*.tmp

# Others
TestResults/
*.DS_Store
Thumbs.db

