# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# קבצי קומפילציה
*.dll
*.pdb
*.cache

# קבצי Build אוטומטיים
*.AssemblyInfo.cs
*.GeneratedMSBuildEditorConfig.editorconfig

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json

# Visual Studio Code
.vscode/

# Logs & Temp files
*.log
*.tmp

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/

# Backup files
*.bak

# Other tools
TestResults/

# מערכת / OS
*.DS_Store
Thumbs.db

# מיגרציות (אם לא רוצים לעקוב זמנית)
# Mock/Migrations/
